@model IEnumerable<OddJobs.Models.Contractor>

@{
    ViewBag.Title = "Index";
}

<h2>Contractor</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ContractorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContractorPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AreaOfExpertise)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContractorEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContractorStreet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContractorState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContractorCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContractorZip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ContractorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContractorPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AreaOfExpertise)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContractorEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContractorStreet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContractorState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContractorCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContractorZip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ContractorId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ContractorId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ContractorId }) |
            @Html.ActionLink("List Of All Jobs", "CustomerList", "Customers", null, new { id = item.ContractorId }) |

        </td>
    </tr>
}

</table>
