@model IEnumerable<OddJobs.Models.Estimate>

@{
    ViewBag.Title = "EstIndex";
}

<h2>EstIndex</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EstHoursToComplete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaterialCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BidAmt)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.JobId)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EstHoursToComplete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaterialCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BidAmt)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.JobId)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "EditEst", new { id=item.EstId }) |
            @Html.ActionLink("Details", "EstDetails", new { id=item.EstId }) |
            @Html.ActionLink("Delete", "DeleteEst", new { id=item.EstId })
        </td>
    </tr>
}

</table>
