@model OddJobs.Models.Contractor

@{
    ViewBag.Title = "Customer_ContractorDetails";
}

<h2>Contractor Details</h2>

<div>
    <hr />
    <dl class="media-heading">
        <dt>
            @Html.DisplayNameFor(model => model.ContractorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContractorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContractorPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContractorPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaOfExpertise)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaOfExpertise)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContractorEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContractorEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContractorStreet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContractorStreet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContractorState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContractorState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContractorCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContractorCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContractorZip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContractorZip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ContractorId }) |*@
    @Html.ActionLink("Contact Contractor", "ContactContractor", new { id = Model.ContractorId}) |
    @Html.ActionLink("Back to List", "ListOfContractors", "Customers")
</p>
